%%-*- mode: erlang-*-
{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            {lager_truncation_size, 1024}
           ]}.

{ct_opts, [
           {sys_config, "config/test.sys.config"}
          ]}.

{deps, [
        {lager, "3.5.0"},
        {recon, "2.3.2"},
        {cowlib,".*",{git,"https://github.com/ninenines/cowlib","2.7.3"}},
        {ranch,".*",{git,"https://github.com/ninenines/ranch","1.7.1"}},
        {cowboy, ".*",{git,"https://github.com/ninenines/cowboy",{branch, "master"}}}
       ]}.

{escript_main_app, halin}.
{escript_name, "halin_tools"}.
{escript_emu_args, "%%! -escript main halin_tools\n"}.
{escript_incl_apps, [halin, lager, uuid]}.

{profiles, [
            {test, [
                    {erl_opts, [{d, 'PROFILE', test},
                                {d, 'PROFILE_TEST'},
                                {lager_truncation_size, 10240}]},
                    {deps, [{meck, "0.8.4"}]}
                   ]},
            {dev, [
                   {erl_opts, [{d, 'PROFILE', dev},
                               {d, 'PROFILE_DEV'},
                               {lager_truncation_size, 10240}]},
                   {relx, [
                           {release,
                            {halin, "halin-version"},
                            [ssl,
                             mnesia,
                             recon,
                             lager,
			     cowlib,
                             ranch,
                             cowboy,
                             halin,
                             {wx, load},
                             {observer, load},
                             {runtime_tools, load}
                            ]},
                           {dev_mode, true},
                           {include_erts, false},
                           {vm_args, "config/dev.vm.args"},
                           {sys_config, "config/dev.sys.config"}
                          ]}
                  ]},
            {stage, [
                     {erl_opts, [{d, 'PROFILE', stage},
                                 {d, 'PROFILE_STAGE'},
                                 {lager_truncation_size, 10240}]},
                     {relx, [
                             {release,
                              {halin, "halin-version"},
                              [ssl,
                               mnesia,
                               recon,
                               lager,
                               cowlib,
                               ranch,
                               cowboy,
                               halin,
                               {wx, load},
                               {observer, load},
                               {runtime_tools, load}
                              ]},
                             {dev_mode, false},
                             {include_erts, true},
                             {vm_args, "config/stage.vm.args"},
                             {sys_config, "config/stage.sys.config"}
                            ]}
                    ]},
            {prod, [
                    {erl_opts, [{d, 'PROFILE', prod},
                                {d, 'PROFILE_PROD'}]},
                    {relx, [
                            {release,
                             {halin, "halin-version"},
                             [ssl,
                              mnesia,
                              recon,
                              lager,
                              cowlib,
                              ranch,
                              cowboy,
                              halin
                             ]},
                            {overlay,
                             [{copy, "priv", "priv"}]},
                            {dev_mode, false},
                            {include_erts, true},
                            {vm_args, "config/prod.vm.args"},
                            {sys_config, "config/prod.sys.config"}
                           ]}
                   ]}
           ]}.

{relx, [
        {release,
         {halin, "halin-version"},
         [ssl,
          mnesia,
          recon,
          lager,
          cowlib,
          ranch,
          cowboy,
          halin,
          {wx, load},
          {observer, load},
          {runtime_tools, load}
         ]},
        {overlay,
         [{copy, "priv", "priv"}]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"}
       ]}.
